<!-- new Challenge-->

<div id="challenge-section" class="container-fluid">
	<!-- Content here -->
		<!-- <div class="row align-items-center">
			<div class="col-12">
				<h1 class="challenge">Empower people to unleash their <b class="challenge">creative potential</b>.</h1>
			</div>
		</div> -->

		<div class="home-part row align-items-center">
			<div class="col-12 col-md-1 col-lg-1"></div>
            <div class="col-12 col-md-8 col-lg-6">
				<h1 class="challenge">Let's empower people to unleash their <b class="challenge">creative potential</b>.</h1>
			</div>  
			<div class="col-12 col-md-2 col-lg-4">
			</div>
			<div class="col-12  col-md-1 col-lg-1"></div>
				<div id="centered-down-arrow">
						<a id="img-link" href="#insights"><img class="down-arrow" src="/images/down-arrow.png"></a>
				</div>
		</div>
	
  </div>







<!-- Challenge -->
<!-- <section id="intro" class="wrapper style1 fullscreen fade-up">
		<div class="inner">
				<h1 class="challenge">Empower people to unleash their <b class="challenge">creative potential</b>.</h1>

		</div>
	</section> -->