<!-- Concepts -->
<div id="concepts" class="wrapper container-fluid">
			<div class="section-area row justify-content-center">
				<div id="insight-box" class="col-12">
					<h1 class="insights">Our Concepts</h1>
				</div>	
			</div>
		<section>
				<div class="section-area row h-100">
						<div class="col-12 col-md-5 my-auto">
								<div class="padded-image">
										<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/pic01.jpg"></div>
								</div>
								<div class="number-overlay concept-1">01</div>
						</div>
						<div id="concept-box" class="col-12 col-md-6 my-auto">
								<h2 class="concepts concept-1">Express yourself in real time. </h2>
								<p>A smart object that allows users to change its print anytime anywhere.</p>
						</div>
				</div>
				<div class="section-area row h-100">
						<div class="col-12 col-md-5 my-auto">
								<div class="padded-image">
										<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/pic01.jpg"></div>
								</div>
								<div class="number-overlay concept-2">02</div>
						</div>
					<div id="concept-box" class="col-12 col-md-6 my-auto">
							<h2 class="concepts concept-2">Examine the mundane.</h2>
							<p>An app that prompts users to view and interact with the everyday objects in a fresh new way and meet people who share their perspectives and sense of humor.</p>
					</div>
				</div>
				<div class="section-area row h-100">
						<div class="col-12 col-md-5 my-auto">
								<div class="padded-image">
										<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/pic01.jpg"></div>
								</div>
								<div class="number-overlay concept-3">03</div>
						</div>
						<div id="concept-box" class="col-12 col-md-6 my-auto">
								<h2 class="concepts concept-3">Blend physical and digital.</h2>
								<p>An app that seizes the power of texture to blend new flavors into the old memories.</p>
						</div>
				</div>
		</section>
</div>









<!-- Concepts
<section id="one" class="wrapper style2 spotlights">
		<section>
			<a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a>
			<div class="content">
				<div class="inner">
					<h2>Sed ipsum dolor</h2>
					<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
					<ul class="actions">
						<li><a href="#" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a>
			<div class="content">
				<div class="inner">
					<h2>Feugiat consequat</h2>
					<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
					<ul class="actions">
						<li><a href="#" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
			<div class="content">
				<div class="inner">
					<h2>Ultricies aliquam</h2>
					<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
					<ul class="actions">
						<li><a href="#" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
	</section> -->
