<!-- framework -->
<div id="framework" class="wrapper style2 container-fluid">
	
	<div class="section-area row justify-content-center">
		<div id="insight-box" class="col-12">
				<h1 class="insights">Framework</h1>
			</div>
		<div id="insight-box" class="col-12 col-sm-6 col-md-3">
				<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/pic01.jpg"></div>
				<h2 class="framework">A good trigger</h2>
					<p>Creativity is a loaded word. How might we make it more inclusive?</p>
		</div>
		<div id="insight-box" class=" col-12 col-sm-6 col-md-3">
				<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/pic01.jpg"></div>
				<h2 class="framework">A low barier</h2>
				<p>The creative journey has highs and lows. How might we help more people along it?</p>
		</div>
		<div id="insight-box" class="col-12 col-sm-6 col-md-3">
				<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/pic01.jpg"></div>
				<h2 class="framework">A satisfying output</h2>
			<p>Idle minutes are usually spent consuming mindless content. How might we turn these into creative moments?</p>
	</div>
	<div id="insight-box" class="col-12 col-sm-6 col-md-3">
			<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/pic01.jpg"></div>
			<h2 class="framework">Validation</h2>
		<p>Our environment can jumpstart our creativity. How might we provide people with the triggers they need?</p>
	</div>
	</div>			
</div>









<!-- Concepts
<section id="one" class="wrapper style2 spotlights">
		<section>
			<a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a>
			<div class="content">
				<div class="inner">
					<h2>Sed ipsum dolor</h2>
					<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
					<ul class="actions">
						<li><a href="#" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a>
			<div class="content">
				<div class="inner">
					<h2>Feugiat consequat</h2>
					<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
					<ul class="actions">
						<li><a href="#" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
			<div class="content">
				<div class="inner">
					<h2>Ultricies aliquam</h2>
					<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
					<ul class="actions">
						<li><a href="#" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
	</section> -->