<!-- framework -->
<div id="framework" class="wrapper style2 container-fluid">
	
	<div class="section-area row justify-content-center">
		<div id="insight-box" class="col-12">
				<h1 class="insights">Framework</h1>
			</div>
		<div id="insight-box" class="col-12 col-sm-6 col-md-3">
				<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/framework-trigger.svg"></div>
				<h2 class="framework">A good trigger</h2>
					<p>Creativity is a loaded word. How might we engineer external and internal triggers to get people started?</p>
		</div>
		<div id="insight-box" class=" col-12 col-sm-6 col-md-3">
				<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/framework-act.svg"></div>
				<h2 class="framework">A creative act</h2>
				<p>The creative journey has highs and lows. How might we lower the barriers and enable more people to be creative?</p>
		</div>
		<div id="insight-box" class="col-12 col-sm-6 col-md-3">
				<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/framework-reward.svg"></div>
				<h2 class="framework">A variable reward</h2>
			<p>People like validation. How might we provide both meaningful and effort-driven rewards?</p>
	</div>
	<div id="insight-box" class="col-12 col-sm-6 col-md-3">
			<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/framework-investment.svg"></div>
			<h2 class="framework">Investment</h2>
		<p>Investing time and effort leads to greater buy-in. How might we motivate people to become frequent users of our product?</p>
	</div>
	</div>			
</div>









<!-- Concepts
<section id="one" class="wrapper style2 spotlights">
		<section>
			<a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a>
			<div class="content">
				<div class="inner">
					<h2>Sed ipsum dolor</h2>
					<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
					<ul class="actions">
						<li><a href="#" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a>
			<div class="content">
				<div class="inner">
					<h2>Feugiat consequat</h2>
					<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
					<ul class="actions">
						<li><a href="#" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
			<div class="content">
				<div class="inner">
					<h2>Ultricies aliquam</h2>
					<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
					<ul class="actions">
						<li><a href="#" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
	</section> -->