<!-- Header -->
<!-- <header id="header">
		<a href="index.html" class="title">MHCI // Zazzle</a>
		<nav>
			<ul>
				<li><a id="#homepage" href="index.html">Home</a></li>
				<li><a id="#concept1page" href="generic.html">Concept 1</a></li>
				<li><a id="#concept2page" href="generic.html">Concept 2</a></li>
				<li><a id="#concept3page" href="generic.html">Concept 3</a></li>
				<li><a id="#aboutpage" href="generic.html">About Us</a></li>
			</ul>
		</nav>
	</header> -->

<div class="topnav" id="myTopnav">
		<a id="hamburger" href="javascript:void(0);" style="font-size: 1.3em;" class="icon" onclick="openCloseMenu()">&#9776;</a>
		<a class = "dropdown-button close-menu" href="javascript:void(0);" style="font-size: 1.3em;" onclick="openCloseMenu()">&#x2715;</a>
		<a class = "dropdown-button" href="index.html">HOME</a>
		<a class = "dropdown-button" href="concept1.html">CONCEPT 1</a>
		<a class = "dropdown-button" href="concept2.html">CONCEPT 2</a>
		<a class = "dropdown-button" href="concept3.html">CONCEPT 3</a>
<!-- 		<a class = "dropdown-button" href="about.html">About us</a>
 --></div>

<script>
	function openCloseMenu() {
		var x = document.getElementById("myTopnav");
		var y = document.getElementById("hamburger");
		if (x.className === "topnav") {
			x.classList.add("responsive");
			y.style = "display: none";
		} else {
			x.classList.remove("responsive");
			y.style = "display: block; font-size: 1.3em;";
		}
	}

</script>