<!-- Insights -->
<div id="insights" class="wrapper container-fluid">
	
	<div class="section-area row justify-content-center">
		<div id="insight-box" class="col-12">
				<h1 class="insights">Insights</h1>
			</div>
		<div id="insight-box" class="col-12 col-md-6 col-lg-4">
				<div class="embed-responsive embed-responsive-21by9"><img class="embed-responsive-item" src="images/everyone.svg"></div>
				<h2 class="insights">Everyone is creative.</h2>
					<p>Creativity is a loaded word. How might we make it more inclusive?</p>
		</div>
		<div id="insight-box" class=" col-12 col-md-6 col-lg-4">
				<div class="embed-responsive embed-responsive-21by9"><img class="embed-responsive-item" src="images/journey.svg"></div>
				<h2 class="insights">Creativity is a journey.</h2>
				<p>The creative journey has highs and lows. How might we help more people along it?</p>
		</div>
		<div id="insight-box" class="col-12 col-md-6 col-lg-4">
				<div class="embed-responsive embed-responsive-21by9"><img class="embed-responsive-item" src="images/wall.svg"></div>
				<h2 class="insights">Creativity is a wall.</h2>
				<p>Barriers to creativity keep many people out. How might we lower or remove these barriers?</p>
		</div>
		<div id="insight-box" class="col-12 col-md-6 col-lg-4">
				<div class="embed-responsive embed-responsive-21by9"><img class="embed-responsive-item" src="images/idlemind.svg"></div>
				<h2 class="insights">The idle mind is a goldmine.</h2>
				<p>Idle minutes are usually spent consuming mindless content. How might we turn these into creative moments?</p>
		</div>
		<div id="insight-box" class="col-12 col-md-6 col-lg-4">
				<div class="embed-responsive embed-responsive-21by9"><img class="embed-responsive-item" src="images/trigger.svg"></div>
				<h2 class="insights">Creativity blooms with the right trigger.</h2>
			<p>Our environment can jumpstart our creativity. How might we provide people with the triggers they need?</p>
		</div>	
	</div>		
</div>