<!-- Process -->
<div id="process" class="wrapper style2 container-fluid">
	
		<div class="section-area row justify-content-center">
			<div id="insight-box" class="col-12">
				<h1 class="insights">Process</h1>
			</div>
		</div>

		<div class="section-area row h-100">
					<div class="col-12 col-md-6 col-md-6 col-lg-3 my-auto">
							<div class="padded-left-image">
									<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/process/domainresearch.png"></div>
							</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<h2 class="framework">Domain Research</h2>
							<p style="color:black;">We dove into the psychology literature to understand how people form habits and how habit formation might be encouraged via technology.</p>
					</div>

					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<div class="padded-left-image">
									<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/process/contextualobservation.jpg"></div>
							</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<h2 class="framework">Contextual Observation</h2>
							<p style="color:black;">We observed a creative workshop and interviewed the participants afterward to understand their collaboration habits.</p>
					</div>

					<div class="col-12 col-md-6 col-md-6 col-lg-3 my-auto">
							<div class="padded-left-image">
									<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/process/interviewing.jpg"></div>
							</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<h2 class="framework">Interviews</h2>
							<p style="color:black;">We interviewed over 30 people, including professional creators, casual creators as well people who don’t identify as creative.</p>
					</div>

					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<div class="padded-left-image">
									<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/process/surveying.jpg"></div>
							</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<h2 class="framework">Surveys</h2>
							<p style="color:black;">We conducted a survey to understand how people define creativity. With over 70+ responses, we were able to expand our understanding of creativity.</p>
					</div>

					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<div class="padded-left-image">
									<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/process/affinitydiagramming.jpg"></div>
							</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<h2 class="framework">Affinity diagramming</h2>
							<p style="color:black;">We created an affinity diagram to synthesize the insights from our research.</p>
					</div>

					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<div class="padded-left-image">
									<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/process/journeymap.jpg"></div>
							</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<h2 class="framework">Journey map</h2>
							<p style="color:black;">We conducted interviews to undetstand how people travel through the creative process. We pooled this data into a journey map of creation.</p>
					</div>
					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<div class="padded-left-image">
									<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/process/speeddating.jpg"></div>
							</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<h2 class="framework">Storyboarding & Speed dating</h2>
							<p style="color:black;">We came up with 7 initial concepts which we narrowed down to 3 and speed dated with users to provoke responses.</p>
					</div>
					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<div class="padded-left-image">
									<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/process/prototyping2.jpg"></div>
							</div>
					</div>
					<div class="col-12 col-md-6 col-lg-3 my-auto">
							<h2 class="framework">Prototpying</h2>
							<p style="color:black;">Based on user feedback, we refined our ideas to make interactive prototypes.</p>
					</div>

		</div>
</div>