<!-- Process -->
<div id="process" class="wrapper style2 container-fluid">
	
		<div class="section-area row justify-content-center">
			<div id="insight-box" class="col-12">
					<h1 class="insights">Our Framework</h1>
				</div>
			<div id="insight-box" class="col-12 col-md-6">
					<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/pic01.jpg"></div>
					<h2 class="insights">1. Provide a trigger.</h2>
						<p>Creativity is a loaded word. How might we make it more inclusive?</p>
			</div>
			<div id="insight-box" class=" col-12 col-md-6">
					<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/pic01.jpg"></div>
					<h2 class="insights">2. Lower the creative barrier.</h2>
					<p>The creative journey has highs and lows. How might we help more people along it?</p>
			</div>
			<div id="insight-box" class="col-12 col-md-6">
					<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/pic01.jpg"></div>
					<h2 class="insights">3. Make the output satisfying.</h2>
				<p>Idle minutes are usually spent consuming mindless content. How might we turn these into creative moments?</p>
		</div>
		<div id="insight-box" class="col-12 col-md-6">
				<div class="embed-responsive embed-responsive-1by1"><img class="embed-responsive-item" src="images/pic01.jpg"></div>
				<h2 class="insights">4. Provide validation.</h2>
			<p>Our environment can jumpstart our creativity. How might we provide people with the triggers they need?</p>
		</div>
		</div>			
	</div>